
&spim2_default {
    group1 {
        pinmux = <SPIM2_SCLK_GPIO1>,
                 <SPIM2_CSEL_GPIO2>,
                 <SPIM2_MOSI_GPIO3>;
    };
};

&spi2 {
    max7219: max7219@0 {
        compatible = "maxim,max7219";
        reg = <0>;
        spi-max-frequency = <1000000>;
        scan-limit = <7>;             
        intensity = <8>;              
        num-cascading = <1>;          
    };
};
